@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
/*height: 100%;*/
 }
 
body{
    background-image: linear-gradient(to top, #30BFA5, #3BBF4F, #022601 );
}
  
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.514);

}
h1{
    color: #077e03;
    text-align: center;
    text-shadow: 1px 1px 3px #022601;

}

h2{
    color: #3BBF4F;

}
p{
    text-align: justify;

 }